<div class="bg-blue-500 p-4 w-full fixed top-0">
    <nav>
        <a *ngFor="let menu of menus" 
        [routerLink]="menu.routerLink" 
        [queryParams]="menu.params"
        routerLinkActive="active" 
        class="py-2 px-4 cursor-pointer no-underline text-white">
            {{menu.name}}
        </a>
    </nav>
</div>
