<div class="flex flex-column gap-4 my-8">

    <div class="grid">

        <!-- left-column -->
        <div class="col px-4">
            <div class="flex flex-column gap-4">
                <div class="text-4xl font-bold">Formulir Lamaran Kerja</div>

                <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
                    <div class="flex flex-column gap-3">

                        <div class="font-bold text-lg">Data Pribadi</div>

                        <div class="flex flex-column">
                            <label>Nama :</label>
                            <input class="p-2" type="text" formControlName="name">
                            <div *ngIf="jobForm.get('name')?.invalid && (jobForm.get('name')?.dirty || jobForm.get('name')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>NIK :</label>
                            <input class="p-2" id="nik" formControlName="nik">
                            <div *ngIf="jobForm.get('nik')?.invalid && (jobForm.get('nik')?.dirty || jobForm.get('nik')?.touched)">
                                <div class="text-red-500">Length must 16 character</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Handphone :</label>
                            <input class="p-2" type="number" formControlName="phone">
                            <div *ngIf="jobForm.get('phone')?.invalid && (jobForm.get('phone')?.dirty || jobForm.get('phone')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Email :</label>
                            <input class="p-2" type="text" formControlName="email">
                            <div *ngIf="jobForm.get('email')?.invalid && (jobForm.get('email')?.dirty || jobForm.get('email')?.touched)">
                                <div class="text-red-500">Email format invalid</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Tempat Lahir :</label>
                            <select class="p-2" formControlName="birthPlace">
                                <option value=""></option>
                                <option *ngFor="let item of province" [value]="item">{{item}}</option>
                            </select>
                            <div *ngIf="jobForm.get('birthPlace')?.invalid && (jobForm.get('birthPlace')?.dirty || jobForm.get('birthPlace')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Tanggal Lahir :</label>
                            <input class="p-2" type="date" formControlName="birthDate">
                            <div *ngIf="jobForm.get('birthDate')?.invalid && (jobForm.get('birthDate')?.dirty || jobForm.get('birthDate')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Jenis Kelamin :</label>
                            <div class="flex">
                                <input class="p-2" type="radio" value="Laki-laki" formControlName="gender">
                                <label>Laki-laki</label>
                            </div>
                            <div class="flex">
                                <input class="p-2" type="radio" value="Perempuan" formControlName="gender">
                                <label>Perempuan</label>
                            </div>
                            <div *ngIf="jobForm.get('gender')?.invalid && (jobForm.get('gender')?.dirty || jobForm.get('gender')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Alamat :</label>
                            <textarea class="p-2" type="date" formControlName="address"></textarea>
                            <div *ngIf="jobForm.get('address')?.invalid && (jobForm.get('address')?.dirty || jobForm.get('address')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="font-bold text-lg">Data Pekerjaan</div>

                        <div class="flex flex-column">
                            <label>Posisi :</label>
                            <select class="p-2" formControlName="position">
                                <option value=""></option>
                                <option *ngFor="let item of jobsRole" [value]="item">{{item}}</option>
                            </select>
                            <div *ngIf="jobForm.get('position')?.invalid && (jobForm.get('position')?.dirty || jobForm.get('position')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Pengalaman :</label>
                            <select class="p-2" formControlName="experience">
                                <option value=""></option>
                                <option *ngFor="let item of jobExperience" [value]="item">{{item}}</option>
                            </select>
                            <div *ngIf="jobForm.get('experience')?.invalid && (jobForm.get('experience')?.dirty || jobForm.get('experience')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Penempatan :</label>
                            <select class="p-2" formControlName="location">
                                <option value=""></option>
                                <option *ngFor="let item of province" [value]="item">{{item}}</option>
                            </select>
                            <div *ngIf="jobForm.get('location')?.invalid && (jobForm.get('location')?.dirty || jobForm.get('location')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex flex-column">
                            <label>Gaji Yang Diharapkan : </label>
                            <input class="p-2" type="number" formControlName="salary">
                            <div *ngIf="jobForm.get('salary')?.invalid && (jobForm.get('salary')?.dirty || jobForm.get('salary')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>

                        <div class="flex">
                            <input type="checkbox" formControlName="term" required>
                            <label>Saya setuju dengan syarat dan ketentuan</label>
                        </div>

                        <div>
                            <div *ngIf="showError" class="text-red-500 mb-4">NIK Sudah Terdaftar</div>
                            <button [disabled]="!jobForm.valid" type="submit">Simpan</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <!-- right-column -->
        <div class="col px-4">
            <div class="flex flex-column gap-4">
                <div class="text-4xl font-bold">Data Pendaftar Lamaran Kerja</div>
                <table>
                        <thead>
                          <tr>
                            <th width="150">Aksi</th>
                            <th>Nama</th>
                            <th>NIK</th>
                            <th>Posisi</th>
                            <th>Gaji</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of listCandidates">
                            <td>
                                <button (click)="onDetail(data.nik)">Detail</button>
                                <button (click)="onEdit(data.nik)">Edit</button>
                                <button (click)="onDelete(data.nik)">Hapus</button>
                            </td>
                            <td>{{data.name}}</td>
                            <td>{{data.nik}}</td>
                            <td>{{data.position}}</td>
                            <td>{{data.salary}}</td>
                          </tr>
                        </tbody>
                        </table>
            </div>
        </div>

    </div>
</div>