<div class="flex flex-column gap-4 my-8">
    <div class="grid">

        <!-- left-column -->
        <div class="col px-4">
            <div class="flex flex-column gap-4">
                <div class="text-4xl font-bold">User Registration</div>

                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="flex flex-column gap-3">
                        <div class="flex flex-column">
                            <label>Name :</label>
                            <input class="p-2" type="text" formControlName="name">
                            <div
                                *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.dirty || userForm.get('name')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>
                        <div class="flex flex-column">
                            <label>Avatar :</label>
                            <input class="p-2" type="text" formControlName="avatar">
                            <div
                                *ngIf="userForm.get('avatar')?.invalid && (userForm.get('avatar')?.dirty || userForm.get('avatar')?.touched)">
                                <div class="text-red-500">Required</div>
                            </div>
                        </div>
                        <div>
                            <button [disabled]="!userForm.valid" type="submit">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- right-column -->
        <div class="col px-4">
            <div class="flex flex-column gap-4">
                <div class="text-4xl font-bold">List Of User</div>
                <table>
                    <thead>
                        <tr>
                            <th width="150">Aksi</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Create Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of listUsers">
                            <td>
                                <button (click)="onEdit(data.id)">Edit</button>
                                <button (click)="onDelete(data.id)">Hapus</button>
                            </td>
                            <td>{{data.id}}</td>
                            <td>{{data.name | uppercase}}</td>
                            <td>{{data.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>