<div class="flex flex-column gap-4 my-8">
    <div class="grid">
        <!-- left-column -->
        <div class="col px-4">
            <div class="flex flex-column gap-4">
                <div class="font-bold text-lg">Data Pribadi</div>
                <div class="flex flex-column">
                    <label>NIK :</label>
                    <label>{{data.nik}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Name :</label>
                    <label>{{data.name | uppercase}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Email :</label>
                    <label>{{data.email | lowercase}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Birth Place :</label>
                    <label>{{data.birthPlace}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Birth Date :</label>
                    <label>{{data.birthDate | date:'dd/MM/YYYY'}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Position :</label>
                    <label>{{data.position}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Location :</label>
                    <label>{{data.location}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Salary :</label>
                    <label>{{data.salary | currency: 'Rp. '}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Experience :</label>
                    <label>{{data.experience}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Experience Level :</label>
                    <label>{{data.experience | experienceLevel}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Result :</label>
                    <label>{{data.experienceWithExpected | resultAdministration}}</label>
                </div>
                <div class="flex flex-column">
                    <label>Address :</label>
                    <label>{{data.address}}</label>
                </div>
            </div>
        </div>
    </div>
</div>